<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="bg-custom">
     
    <div class="container mt-0">
    
      <div class="row text-white">
        <div class="col-9">
          <h1><a href="/" >Skin cancer classification</a></h1>
        </div>
      </div>  
      
      
      <div class="form">
        <form class="form-upload" method=post enctype=multipart/form-data>
          <h1 class="h3 mb-3 font-weight-normal text-light">Please upload jpg image</h1>
          <input type="file" id="image" name="image" class="form-control" required autofocus>
          <button class="btn btn-lg btn-primary btn-block" type="submit">Classify</button>
        </form>
      </div>
      <br>

      {% if result %}
      <img src="{{image_loc}}" alt='uploaded image' class = "img" alt="" width='224'height="224">
      <h1 class="h3 mb-3 font-weight-normal text-light">Patient has skin tumor of type : {{result}}</h1>
      {%endif%}

      <br>
    </div>
    
  </body>
</html>