.navbar {
    position: fixed;
    width: 100vw;
    height: 10vh;
    flex-grow: 0;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.1);
    background-color: #f3f3fd;
    top: 0vh;
    left: 0vw;
    display: flex;
    align-items: center;
    min-height: 3rem;
    z-index: 1000;
  }
  
  .links {
    display: flex;
    align-items: center;
    position: absolute;
  }
  .links ul {
    position: relative;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    color: #404040;
    font-family: Montserrat;
    font-style: normal;
    line-height: normal;
    text-decoration: none;
    align-items: center;
    gap: 3.5vw;
    left: 50vw;
    justify-content: center;
    justify-self: center;

  }
 
  .links ul li a {
    color: #404040;
    text-decoration: none;
    list-style: none;
    font-family: Montserrat;
    font-size: 1.4rem;
    font-style: normal;
    line-height: normal;
    text-decoration: none;
  }


  .links ul li a:hover {
    color: #3A8EF6
  }

  .logo {
    position: absolute;
    width: 16vw;
    height: 10vh;
    flex-shrink: 0;
    left: 0vw;
    min-width: 3rem;
    min-height: 3rem;
  }

  .home {
    font-weight: 500;
    align-self: center;
  }
  .home.active{
    font-weight: 700;
  }

  .aboutus {
    width: 8vw;
    font-weight: 500;
    align-self: center;
    min-width: 5rem;

  }

  .aboutus.active{
    font-weight: 700;
  }

  .contactus {
    width: 9.4vw;
    font-weight: 500;
    align-self: center;
    min-width: 5.6rem;

  }

  .contactus.active{
    font-weight: 700;
  }


  @media (max-width: 900px) {
    .links ul li a {
        font-size: 1rem; 
    }
    }

  .login{
    position: absolute;
    left: 1250px;
    top: 15px;
    height: 41.479px;    
    width: 110.611px;
    flex-shrink: 0;
    border-radius: 14.506px;
  background: linear-gradient(96deg, #3A8EF6 -10.84%, #6F3AFA 196.74%);
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 16.789px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.007px;
  }

  .login:hover{
    background: linear-gradient(96deg, #6F3AFA -10.84%, #3A8EF6 196.74%);
  }

  .login a{
    color: #FFF;
    text-decoration: none;
    z-index: 100000;
  }

  #logs-1 a{
    color: #FFF;
    text-decoration: none;
    z-index: 1000000;
    position: absolute;
    background-color: red;
  text-align: center;
  font-family: Montserrat;
  font-size: 16.789px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.007px;
  }

  .register{
    position: absolute;
    left: 1370px;
    top: 15px;
    width: 110.611px;
    height: 41.479px;
    flex-shrink: 0;
    border-radius: 14.506px;
  background: linear-gradient(96deg, #3A8EF6 -10.84%, #6F3AFA 196.74%);
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 16.789px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.007px;
  }
  

  .register:hover{
    background: linear-gradient(96deg, #6F3AFA -10.84%, #3A8EF6 196.74%);
  }

  .register a{
    color: #FFF;
    text-decoration: none;
  }

 