.footer {
    position: absolute;
    background: linear-gradient(96deg, #3A8EF6 -10.84%, #5366F8 87.89%, #5A5AF8 116.91%, #6F3AFA 196.74%);
    width: 100vw;
    height: 300px;
    flex-shrink: 0;
    top: 2800px;
    left: 0px;
    filter: drop-shadow(0px -5px 10px rgba(0, 0, 0, 0.25));
    overflow-y: scroll;
    
}

.white-logo {
    position: absolute;
    top : 30px;
    left: 40px;;
}

.footer-links {
    display: flex;
    align-items: center;
    position: absolute;
    top: 80px;
    left: 600px;
  }
.footer-links ul {
    position: relative;
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-family: Montserrat;
    font-style: normal;
    line-height: normal;
    text-decoration: none;
    align-items: center;
    gap: 3.5vw;
    justify-content: center;
    justify-self: center;

  }

  .footer-links ul li a {
    color: white;
    text-decoration: none;
    list-style: none;
    font-family: Montserrat;
    font-size: 1rem;
    font-style: normal;
    line-height: normal;
    text-decoration: none;
  }

  .footer-links-2 {
    display: flex;
    align-items: center;
    position: absolute;
    top: 80px;
    left:900px;
  }
.footer-links-2 ul {
    position: relative;
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-family: Montserrat;
    font-style: normal;
    line-height: normal;
    text-decoration: none;
    align-items: center;
    gap: 3.5vw;
    justify-content: center;
    justify-self: center;

  }

  .footer-links-2 ul li a {
    color: white;
    text-decoration: none;
    list-style: none;
    font-family: Montserrat;
    font-size: 1rem;
    font-style: normal;
    line-height: normal;
    text-decoration: none;
  }


  .gtp {
    position: absolute;
    top: 10px;;
    left: 900px;
    color: white;
    text-decoration: none;
    list-style: none;
    font-family: Montserrat;
    font-size: 1.2rem;
    font-style: bold;
    line-height: normal;
    text-decoration: none;
  }



    .ngt {
        position: absolute;
        top: 10px;;
        left: 600px;
        color: white;
        text-decoration: none;
        list-style: none;
        font-family: Montserrat;
        font-size: 1.2rem;
        font-style: bold;
        line-height: normal;
        text-decoration: none;
      }

      .getintouch{
        position: absolute;
        top: 10px;
        left: 1250px;
        color: white;
        text-decoration: none;
        list-style: none;
        font-family: Montserrat;
        font-size: 1.2rem;
        font-style: bold !important;
        line-height: normal;
        text-decoration: none;
      }

      .no-1{
        position: absolute;
        top: 60px;
        left: 1250px;
        color: white;
        text-decoration: none;
        list-style: none;
        font-family: Montserrat;
        font-size: 1rem;
        font-style: normal;
        line-height: normal;
        text-decoration: none;
      }