
.fileup-1{
    z-index: 1000;
    position: absolute;
    top: 300px;
    left: 140px;
    border-radius: 10px;
    background: linear-gradient(96deg, #3A8EF6 -10.84%, #6F3AFA 196.74%);
}


.white-box-1{
        position: absolute;
        top: 450px;
        left: 765px;
        transform: translate(-50%, -50%);
        width: 95vw;
        height: 70vh;
        flex-shrink: 0;
        border-radius: 20px;
        background: #FFF;
        box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.25);
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        align-self: center;
    
    
}

#uploadmri-1 {
    position: absolute;
    flex-shrink: 0;
    top: 10px;
    left: 35px;
    min-width: 3rem;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    z-index: 2000;
    background: linear-gradient(96deg, #3A8EF6 -10.84%, #6F3AFA 196.74%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



.submit-1{
    position: absolute;
    top: 570px;
    left: 175px;
    width: 138px;
    height: 45px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 10px;
    background: linear-gradient(96deg, #3A8EF6 -10.84%, #6F3AFA 196.74%);
}

.top-txt-1{
    position: absolute;
    top: 250px;
    left: 155px;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.dropfiles-comp{
    position: absolute;
    top: 300px;
    left: 680px;
}

.subline-2{
    position: absolute;
    top: 60px;
    left: 35px;
    width: 1400px;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.tumor-image-2{
    position: absolute;
    top: 250px;
    left: 820px;
}

.download-1{
    position: absolute;
    top: 570px;
    left: 935px;
    width: 138px;
    height: 45px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 10px;
    background: linear-gradient(96deg, #3A8EF6 -10.84%, #6F3AFA 196.74%);

}

.top-txt-2{
    position: absolute;
    top: 500px;
    left: 950px;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    color: red;
}